/* Header.css */

.normal-text {
	font-size: 14px;
}

.header-login-btn,
.header-register-btn {
	padding: 3px 0 5px 0;
}

.logo-text {
	font-size: 16px;
}

.dropbtn {
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content span {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
}

.dropdown-content span:hover {
	background-color: #f1f1f1;
}

.dropdown:hover {
	display: block;

    .dropdown-content{
        display: flex;
		flex-direction: column;
    }
}

.service-section{
	border-bottom: 1px solid rgb(250, 249, 249);
}

.service-section .custom-icon {
	opacity: 0;
	transform: translateX(-10px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .service-section:hover .custom-icon {
	opacity: 1;
	transform: translateX(0);
  }

.hr-header{
    color: rgb(225, 221, 221);
}

.dropdown:hover .dropdown-content {
	display: flex;
}

.hr-header {
	color: rgb(225, 221, 221);
}

.header-visible {
	transition: top 0.3s, background-color 0.3s;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-hidden {
	transition: top 0.3s, background-color 0.3s;
	top: -100px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.header-background {
	background-color: white;
}
