.intro-animation {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .intro-animation::before,
  .intro-animation::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fb7f0c; /* Tailwind's bg-gray-800 color */
    z-index: 10;
  }
  
  .intro-animation::before {
    left: 0;
    animation: slideLeft 3s forwards;
  }
  
  .intro-animation::after {
    right: 0;
    animation: slideRight 3s forwards;
  }
  
  @keyframes slideLeft {
    0% {
      left: 0;
    }
    100% {
      left: -50%;
    }
  }
  
  @keyframes slideRight {
    0% {
      right: 0;
    }
    100% {
      right: -50%;
    }
  }
  